<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <style>
    div.fixed {
        position: relative;
        right: 0;
        width: 300px;
    }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
</head>
<body>
<main>
    <h1>STOCKS</h1>
    {% set active_page = "informes" %}
    {% include "/navigation_bar.html" %}
    <h3 class="text-center mt-4">GRÁFICA</h3>
    {% if tipo_de_usuario == 'cliente' %}
    <canvas id="lineChart" width="900" height="400 "></canvas>
    {% endif %}
    {% if session.get('id_usuario') == 1 %}
    <canvas id="lineChart2" width="900" height="400 "></canvas>
    {% endif %}
    {% if tipo_de_usuario == 'proveedor' %}
    <canvas id="lineChart3" width="900" height="400 "></canvas>
    {% endif %}

    {% if tipo_de_usuario == 'cliente' %}
    <script>
       var ctx = document.getElementById("lineChart").getContext("2d");
       console.log({{ nombres | safe}});
       console.log({{ ventas | safe}});
       var lineChart = new Chart(ctx, {
         type: "bar",
         data: {
            labels: {{ nombres | safe}},
            datasets: [
                {
                  label: 'Ventas (Unidades)',
                  data: {{ ventas | safe}},
                  fill: true,
                  borderColor : "rgba(9, 129, 176, 0.2)",
                  backgroundColor: 'white',
                  lineTension: 0.1
                }
            ]
         },
         options: {
         responsive: false
         }
       });


    </script>
    {% endif %}

    {% if session.get('id_usuario') == 1 %}
    <script>
       var ctx = document.getElementById("lineChart2").getContext("2d");
       console.log({{ nombres | safe}});
       console.log({{ beneficios | safe}});
       var lineChart = new Chart(ctx, {
         type: "bar",
         data: {
            labels: {{ nombres | safe}},
            datasets: [
                {
                  label: 'Beneficios (euros)',
                  data: {{ beneficios | safe}},
                  fill: true,
                  borderColor : "rgba(9, 129, 176, 0.2)",
                  backgroundColor: 'white',
                  lineTension: 0.1
                }
            ]
         },
         options: {
         responsive: false
         }
       });


    </script>
    {% endif %}

    {% if tipo_de_usuario == 'proveedor' %}
    <script>
       var ctx = document.getElementById("lineChart3").getContext("2d");
       console.log({{ nombres_producto_proveedor | safe}});
       console.log({{ compras | safe}});
       var lineChart = new Chart(ctx, {
         type: "bar",
         data: {
            labels: {{ nombres_producto_proveedor | safe}},
            datasets: [
                {
                  label: 'Compras (Unidades)',
                  data: {{ compras | safe}},
                  fill: true,
                  borderColor : "rgba(9, 129, 176, 0.2)",
                  backgroundColor: 'white',
                  lineTension: 0.1
                }
            ]
         },
         options: {
         responsive: false
         }
       });

    </script>
    {% endif %}


</main>
</body>
</html>