<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <style>
    div.fixed {
        position: relative;
        right: 0;
        width: 300px;
    }
    </style>
</head>
<body>
<main>
    <h1>STOCKS</h1>
    {% set active_page = "inventarioProveedor" %}
    {% include "/navigation_bar.html" %}

    <h3 class="text-center mt-4">DATOS DEL PROVEEDOR</h3>

    <div class="form-group">
        <div class="col-md-4 offset-md-4 my-auto">
            <form action='/proveedores/anadir-proveedor' method='post'>
                <label class="col-form-" for="inputCorreo">Correo</label>
                <input type="text" name=correo class="form-control" placeholder=
                        "Introduce un correo" id="inputcorreo">
                <label class='col-form-' for="inputPassword">Contraseña</label>
                <input type="password" name=password class="form-control" placeholder=
                        "Introduce una contraseña" id="inputPassword">

                <label class="col-form-" for="inputEmpresa">Empresa</label>
                <input type="text" name=contenido_empresa class="form-control" placeholder=
                        "Introduce el nombre de la empresa" id="inputEmpresa">

                <label class='col-form-' for="inputTelefono">Teléfono</label>
                <input type="number" name=contenido_telefono class="form-control" placeholder=
                        "Introduce el teléfono de la empresa" id="inputTelefono">

                <label class='col-form-' for="inputDireccion">Dirección</label>
                <input type="text" name=contenido_direccion class="form-control" placeholder=
                        "Introduce la dirección de la empresa" id="inputDireccion">

                <label class="col-form-" for="inputCIF">CIF</label>
                <input type="text" name=contenido_cif class="form-control" placeholder=
                        "Introduce el CIF de la empresa" id="inputCIF">

                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>