<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <style>
    div.fixed {
        position: relative;
        right: 0;
        width: 300px;
    }
    </style>

</head>
<body>
<main>
    <h1>STOCKS</h1>
    {% set active_page = "proveedores" %}
    {% include "/navigation_bar.html" %}
    <h3 class="text-center mt-4">PROVEEDORES</h3>
    <form action="/proveedores/anadir-proveedor">
        <button type="submit" class="btn btn-info">Añadir un proveedor</button>
    </form>
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">EMPRESA</th>
            <th scope="col">TELÉFONO</th>
            <th scope="col">DIRECCIÓN</th>
            <th scope="col">CIF</th>
            <th scope="col">CORREO</th>
        </tr>
        </thead>
        {% for proveedor in lista_proveedores %}

        <tbody>
        <tr class="table-secondary">
            <td>{{proveedor.id_proveedor}}</td>
            <td>{{proveedor.nombre_empresa}}</td>
            <td>{{proveedor.telefono}}</td>
            <td>{{proveedor.direccion}}</td>
            <td>{{proveedor.cif}}</td>
            {% for usuario in lista_usuarios %}
            {% if proveedor.id_usuario == usuario.id_usuario %}
            <td>{{usuario.correo}}</td>
            {% endif %}
            {% endfor %}
            <td><a href="/proveedores/eliminar-proveedor/{{proveedor.id_proveedor}}" style="text-decoration:none">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" class="bi bi-trash"
                     viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a></td>
        </tr>
        </tbody>

        {% endfor %}
    </table>
</main>
<canvas id="lineChart" width="900" height="400 "></canvas>
</body>
</html>