<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <style>
    div.fixed {
        position: fixed;
        right: 0;
        width: 300px;

    }


    </style>
</head>
<body>
<main>
    <h1>STOCKS</h1>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/inventario">Inventario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anadir-producto">Añadir un producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informes">Informes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proveedores">Proveedores</a>
                    </li>
                    {% if session.get('id_usuario') == 1 %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="fixed">
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <h3 class="text-center mt-4">DATOS DEL PROVEEDOR</h3>

    <div class="form-group">
        <div class="col-md-4 offset-md-4 my-auto">
            <form action='/crear-proveedor' method='post'>
                <label class="col-form-" for="inputCorreo">Correo</label>
                <input type="text" name=correo class="form-control" placeholder=
                        "Introduce un correo" id="inputcorreo">
                <label class='col-form-' for="inputPassword">Contraseña</label>
                <input type="password" name=password class="form-control" placeholder=
                        "Introduce una contraseña" id="inputPassword">

                <label class="col-form-" for="inputEmpresa">Empresa</label>
                <input type="text" name=contenido_empresa class="form-control" placeholder=
                        "Introduce el nombre de la empresa" id="inputEmpresa">

                <label class='col-form-' for="inputTelefono">Teléfono</label>
                <input type="number" name=contenido_telefono class="form-control" placeholder=
                        "Introduce el teléfono de la empresa" id="inputTelefono">

                <label class='col-form-' for="inputDireccion">Dirección</label>
                <input type="text" name=contenido_direccion class="form-control" placeholder=
                        "Introduce la dirección de la empresa" id="inputDireccion">

                <label class="col-form-" for="inputCIF">CIF</label>
                <input type="text" name=contenido_cif class="form-control" placeholder=
                        "Introduce el CIF de la empresa" id="inputCIF">

                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>