<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <style>
    div.fixed {
        position: fixed;
        right: 0;
        width: 300px;
    }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
</head>
<body>
<main>
    <h1>STOCKS</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/inventario">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anadir-producto">Añadir un producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/informes">Informes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/proveedores">Proveedores</a>
                    </li>
                </ul>
                <div class="fixed">
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <h3 class="text-center mt-4">GRÁFICA</h3>
    <canvas id="lineChart" width="900" height="400 ">ascasc</canvas>
    <script>
       var ctx = document.getElementById("lineChart").getContext("2d");
       console.log({{ labels | safe}});
       console.log({{ values | safe}});
       var lineChart = new Chart(ctx, {
         type: "line",
         data: {
            labels: {{ labels | safe}},
            dataset: [
                {
                  label: 'Data points',
                  data: {{ values | safe}},
                  fill: false,
                  borderColor : "rgb(75, 192, 192)",
                  lineTension: 0.1
                }
            ]
         },
         options: {
         responsive: false
         }
       });


    </script>
</main>
</body>
</html>