<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <style>
    div.fixed {
        position: relative;
        right: 0;
        width: 300px;
    }


    </style>
</head>
<body>
<main>
    <h1>STOCKS</h1>
    {% set active_page = "inventario" %}
    {% include "/navigation_bar.html" %}

    <h3 class="text-center mt-4">DATOS DEL PRODUCTO</h3>

    <div class="form-group">
        <div class="col-md-4 offset-md-4 my-auto">
            <form action='/anadir-producto' method='post'>
                <label class="col-form-" for="inputDescripcion">Descripción</label>
                <input type="text" name=contenido_descripcion class="form-control" placeholder=
                        "Introduce la descripción del producto" id="inputDescripcion">

                <label class='col-form-' for="inputStock">Stock</label>
                <input type="number" name=contenido_stock class="form-control" placeholder=
                        "Introduce el stock del producto" id="inputStock">

                <label class='col-form-' for="inputCapacidad">Capacidad</label>
                <input type="number" name=contenido_capacidad class="form-control" placeholder=
                        "Introduce la capacidad del producto" id="inputCapacidad">

                <label class="col-form-" for="inputPVP">PVP</label>
                <input type="number" name=contenido_PVP class="form-control" placeholder=
                        "Introduce el PVP del producto" id="inputPVP">

                <label class="col-form-" for="inputPrecio">Precio</label>
                <input type="number" name=contenido_precio class="form-control" placeholder=
                        "Introduce el PVP del producto" id="inputPrecio">

                <label class="col-form-" for="inputCategoria">Categoría</label>
                <input type="text" name=contenido_categoria class="form-control" placeholder=
                        "Introduce la catergoría del producto" id="inputCategoria">
                <div class="form-group">
                    <label for="inputProveedor" class="form-label mt-4">Proveedor</label>
                    <span class="badge bg-warning">Si no aparece el proveedor deseado, debe crearlo desde la pestaña "Proveedores"</span>
                    <div>
                        <select name='proveedor_elegido' class="form-select" id="inputProveedor">
                            <option value="default">-&#45;&#45;</option>
                            {% for proveedor in lista_proveedores.keys() %}
                            <option value="{{proveedor}}">{{lista_proveedores[proveedor]}}</option>
                            {%endfor%}

                        </select>

                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>